
/* --- * --- Root colors-Fonts --- * --- */
:root {

    /* --- * --- Colors --- * --- */
    --color-background: #fefefe;
    --color-primary: #003d7b;
    --color-secondary: #336495;
    --color-tertiary: #4f9bc4;

    /* --- * --- Fonts --- * --- */
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: monospace;
}

body, hmtl {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background: var(--color-background); */

    background-image: url(./app/media/img_city_Londirna.jfif);

}
* {
    font-size: 100%;
    color: #fefefe;
}

/* --- * --- Header pag --- * --- */
.container_header {
    background: var(--color-primary);
    height: 100px;
    padding: 1.3rem 2.5rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content_logo {
    display: flex;
    gap: 2rem;
    text-decoration: none;
}

.content_logo i {
    font-size: 4rem;
    margin-top: .7rem;
}

.content_logo h1 {
    font-size: 2rem;
    font-family: var(--font-primary);
}

.content_logo h1:hover,
.content_logo i:hover {
    transition: .3s;
    color: #fefeefb3;
}


.container_main {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.container_nav {
    width: 30%;
    background: var(--color-secondary);
    height: 100%;
    padding: 2rem 0 2rem 0;
}

.icons {
    background: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(.5px);
    padding: 1.5rem;
    display: grid;
    place-content: center;
}

.icons i {
    font-size: 3rem;
    transition: .3s;
    cursor: pointer;
}

.icons i:hover {
    transform: scale(.9) rotate(360deg);
    color: #bbbbbbdc;
} 


.item_list {
    list-style: none;
    margin: .1rem;
}

.item_list a {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    transition: .3s;
    border: .1rem solid transparent;
    padding: .3rem;
    text-decoration: none;
}

.item_list a:hover {
    color: #cfcccc;
    background: rgba(41, 38, 38, 0.103);
}

.item_list::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2rem;
    background: rgb(255, 255, 255);
    transition: .1s;
}

.item_list:hover::before {
    width: 2px;
}

.item_list i {
    color: #c0bdbd;
}

.container_footer {
    background: #003d7b;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container_footer h1 {
    font-size: 1.2rem;
    font-family: var(--font-primary);
}

.container_logoMarista {
    display: flex;
    align-items: center;
    margin-top: -19px;
    background: #04315e;
    border-radius: 5px;
}

.container_logoMarista img {
    width: 7rem;
    border-radius: 5px;
    animation: img_animation infinite ease-in-out 10s;
    animation-delay: 5s;
}

::-webkit-scrollbar-button {
    background: red;
}

@keyframes img_animation {
    10% {
        transform: scale(.9) translateX(-100%) skewX(5deg)  rotate(720deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: translateX(0);
    }
}

.btns_functions {
    display: flex;
    align-items: center;
    padding: .3rem;
    width: 15%;
    height: 100%;
    margin-top: -20px;
    align-items: center;
    justify-content: space-around;
    margin-left: -100px;
}

.btns_functions i {
    font-size: 2rem;
    transition: .3s;
}


.btns_functions i:hover {
    transform: scale(1.5);
    color: #fefefed7;
    cursor: pointer;
    background: rgb(39, 37, 37);
    padding: .3rem;
    border-radius: 5px;
}

.btns_functions i:nth-child(1):hover {
    transform: rotate(360deg) scale(1.5);
}

@media screen and (max-width: 950px) {
    .btns_functions {
        display: none
    }
}

@media screen and (max-width: 800px) {
    .container_logoMarista {
        display: none;
    }

    .container_header {
        display: flex;
        justify-content: center;
    }

    .item_list a {
        font-size: 1.2rem;
    }

    .icons {
        place-content: start;
    }
}


@media screen and (max-width: 660px) {
    .container_footer > h1 {
        font-size: 1rem;
    }

    .container_footer {
        grid-template-columns: 1fr 1fr 1fr;
        height: 6rem;
    }
    .icons {
        padding-top: -1rem;
    }
}

@media screen and (max-width: 500px) {
    .icons {
        display: none;
    }
    .container_main > nav{
        width: 100%;
        height: 100%;
        padding-right: 3rem;
    }
    .container_nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .container_nav ul  li  i {
        display: none;
    }
    .container_nav > ul > li {
        border: 1px solid #fefefe;
        border-radius: 12px;
        display: grid;
        place-content: center;
    }
}