ooter{
    font-family: verdana;
    background-color: #4f9bc4;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
body{
    margin: 0;
}

img{
    width: 600px;
    height: 400px;
    position: relative;
    left: 300px;
}

p{
    margin-bottom: 5rem;
}