.container_news {
    margin: 2rem;
    padding: 1.3rem;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    text-align: center;
}

.title_news {
    font-family: monospace;
    font-size:2rem;
}

.lide {
    font-family: monospace;
    font-size: 1.5rem;
    color: #3c3b3b;
}

.text_news {
    font-family: monospace;
    font-size: 1.2rem;
    margin-bottom: 100px;
}