/* footer{
    font-family: Verdana;
    background-color: blue;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0%;
    width: 100%;
} */

img{
    width: 500px;
    height: 300px ;
    position: relative;
    left: 400px;
    margin-bottom: 5rem;
}

p{
    margin-bottom: 5rem;
}